* {
    font-family: "Oswald", sans-serif;
}

html {
    font-size: 60%; 
    box-sizing: border-box;
}

body {     
    background: linear-gradient(to left, #00aaff, #00ff6a);
}

#wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 62rem;
}

.title {
    height: 4rem;
    display: block;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: 35rem;
    height: 52rem;
    border: .1rem solid rgb(68, 65, 65);
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 15px;
    background-color: rgb(68, 65, 65);
}

#output {
    grid-column: 1 / -1;
    width: 31.8rem;
    height: 6rem;
    background-color: #eeeeee;
    margin: .625rem .625rem;
    display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 8px;
  word-wrap: break-word;
  word-break: break-all;
    
}

.previous_number {
    color: rgb(51, 50, 50);
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
}

.current_number {
    color: #000;
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    
}

button {
    font-family: "Oswald", Courier, monospace;
    font-size: 3rem;
    height: 7rem;
    width: 7rem;
    border-width: 0;
    border-style: none;
    margin: .875rem .875rem;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(.2rem);
    border: none;
}

button:focus {
    outline:0;
}

.btn-number:hover{
    background-color: #837f7f;
}

.btn-number {
    color: #fff;
    background-color: #050505;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn-other:hover{
    background-color: #91c2c5;
}

.btn-other {
    color: rgb(8, 8, 8);
    background-color: #a1eff5;
    margin: .875rem .875rem;
    border-width: 0;
}


.btn-decimal {
    color: #fff;
    background-color: #080808;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn-decimal:hover{
    background-color: #837f7f;
}

.btn-horizontal {
    width: 15.5rem;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn-vertical {
    height: 15.5rem;
    margin: .875rem .875rem;
    border-width: 0;
    float: right;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    position: absolute;
    display: block;
    width: 40rem;
    text-align: center;
    margin: auto;
    right: 0;
    bottom: 1.5rem;
    left: 0;
}